################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/ref/PracticeScripts.Tests.dll
/PracticeScripts/.vs/Practice/CopilotIndices/17.14.995.13737
/PracticeScripts/.vs/Practice/FileContentIndex/45053391-2160-4c78-acfe-38156eccb248.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex/484c6566-3dd7-4281-8bd6-72adf32d1923.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex/996a7033-9526-4b04-ba8b-c460e281d9c9.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex/a28c3d86-5a20-49e6-a008-d6afb27d7aae.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex/cf693f0d-bc32-4e1b-80db-1950e4af4a48.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex/d4ff768e-9bad-42e4-ab38-9adcc9f6e471.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex/e6b2d19f-05c1-4709-8250-78baebb672e9.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex/f37ea9e6-f7c7-45ea-8dc0-ce1745c493b4.vsidx
/PracticeScripts/.vs/Practice/DesignTimeBuild/.dtbcache.v2
/PracticeScripts/.vs/Practice/CopilotIndices/17.13.449.12402/SemanticSymbols.db
/PracticeScripts/.vs/Practice/CopilotIndices/17.13.449.12402/CodeChunks.db
/PracticeScripts/.vs/Practice/v17/TestStore/0/001.testlog
/PracticeScripts/.vs/Practice/v17/TestStore/0/031.testlog
/PracticeScripts/.vs/Practice/v17/TestStore/0/testlog.manifest
/PracticeScripts/.vs/Practice/v17/.suo
/PracticeScripts/.vs/Practice/v17/DocumentLayout.backup.json
/PracticeScripts/.vs/Practice/v17/DocumentLayout.json
/PracticeScripts/.vs/ProjectEvaluation/practice.metadata.v9.bin
/PracticeScripts/.vs/ProjectEvaluation/practice.projects.v9.bin
/PracticeScripts/.vs/ProjectEvaluation/practice.strings.v9.bin
/PracticeScripts/PracticeScripts/bin/Debug/net8.0/FluentAssertions.dll
/PracticeScripts/PracticeScripts/bin/Debug/net8.0/PracticeScripts.deps.json
/PracticeScripts/PracticeScripts/bin/Debug/net8.0/PracticeScripts.dll
/PracticeScripts/PracticeScripts/bin/Debug/net8.0/PracticeScripts.exe
/PracticeScripts/PracticeScripts/bin/Debug/net8.0/PracticeScripts.pdb
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/ref/PracticeScripts.dll
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/refint/PracticeScripts.dll
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/apphost.exe
*.Up2Date
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/PracticeScripts.AssemblyInfo.cs
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/PracticeScripts.AssemblyInfoInputs.cache
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/PracticeScripts.assets.cache
*.cache
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/PracticeScripts.csproj.CoreCompileInputs.cache
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/PracticeScripts.csproj.FileListAbsolute.txt
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/PracticeScripts.dll
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/PracticeScripts.genruntimeconfig.cache
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/PracticeScripts.pdb
/PracticeScripts/PracticeScripts/obj/Debug/net8.0/PracticeScripts.sourcelink.json
/PracticeScripts/PracticeScripts/obj/PracticeScripts.csproj.nuget.dgspec.json
/PracticeScripts/PracticeScripts/obj/PracticeScripts.csproj.nuget.g.props
/PracticeScripts/PracticeScripts/obj/project.assets.json
/PracticeScripts/PracticeScripts/obj/project.nuget.cache
/PracticeScripts/PracticeScripts.Tests/bin/Debug/net8.0/FluentAssertions.dll
/PracticeScripts/PracticeScripts.Tests/bin/Debug/net8.0/nunit_random_seed.tmp
/PracticeScripts/PracticeScripts.Tests/bin/Debug/net8.0/PracticeScripts.deps.json
/PracticeScripts/PracticeScripts.Tests/bin/Debug/net8.0/PracticeScripts.dll
/PracticeScripts/PracticeScripts.Tests/bin/Debug/net8.0/PracticeScripts.exe
/PracticeScripts/PracticeScripts.Tests/bin/Debug/net8.0/PracticeScripts.pdb
/PracticeScripts/PracticeScripts.Tests/bin/Debug/net8.0/PracticeScripts.Tests.deps.json
/PracticeScripts/PracticeScripts.Tests/bin/Debug/net8.0/PracticeScripts.Tests.dll
/PracticeScripts/PracticeScripts.Tests/bin/Debug/net8.0/PracticeScripts.Tests.pdb
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/refint/PracticeScripts.Tests.dll
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/PracticeScripts.Tests.AssemblyInfoInputs.cache
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/PracticeScripts.Tests.assets.cache
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/PracticeScripts.Tests.csproj.AssemblyReference.cache
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/PracticeScripts.Tests.csproj.CoreCompileInputs.cache
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/PracticeScripts.Tests.csproj.FileListAbsolute.txt
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/PracticeScripts.Tests.dll
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/PracticeScripts.Tests.genruntimeconfig.cache
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/PracticeScripts.Tests.pdb
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/PracticeScripts.Tests.sourcelink.json
/PracticeScripts/PracticeScripts.Tests/obj/PracticeScripts.Tests.csproj.nuget.dgspec.json
/PracticeScripts/PracticeScripts.Tests/obj/PracticeScripts.Tests.csproj.nuget.g.props
/PracticeScripts/PracticeScripts.Tests/obj/project.assets.json
/PracticeScripts/PracticeScripts.Tests/obj/project.nuget.cache
/PracticeScripts/.vs/Practice/FileContentIndex/00ea8369-538f-4968-a3fd-f2684a2863eb.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex/1fc3907b-ad55-41f4-a1d9-502f50f58bb1.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex/6b5741c7-fc32-4f41-9bc8-9d42827c8c8a.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex/86db3149-9f80-443a-bc66-860f93f22b86.vsidx
/PracticeScripts/.vs/Practice/FileContentIndex
/PracticeScripts/.vs/Practice/v17/TestStore/0
/PracticeScripts/PracticeScripts.Tests/obj/Debug/net8.0/PracticeScripts.Tests.AssemblyInfo.cs
